* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: url('aa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Baloo Bhai 2', cursive;

}

.left {

    display: inline-block;
    position: absolute;
    top: 25px;
    left: 25px;

}

.left div {
    position: fixed;
    top: 124px;
    left: 3px;
}

.left img {
    border-radius: 30px;
}

.right {

    display: inline-block;
    right: 44px;
    position: absolute;
    top: 46px;

}

.centre {

    display: inline-block;
    position: absolute;
    width: 33%;
    right: 501px;
    top: 30px
}


.navbar li a {
    display: inline-block;
    text-decoration: none;
    padding: 25px 23px;
    font-size: 18px;
}

.navbar li {
    display: inline-block;
    text-decoration: none;


}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: gray
}

.btn {
    background-color: black;
    color: white;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    height: 25px;
    width: 116px;

}

.btn:hover {
    background-color: rgb(145, 139, 139);
}

.container {

    border: 2px solid white;
    position: absolute;

    top: 193px;
    position: absolute;
    left: 83px;
    width: 400px;
    height: 320px;
    border-radius: 28px;
    text-align: center;
    margin: 6px;
    padding: 25px;
}

.form-group input {
    color: black;
    width: 300px;
    margin: 6px;
    padding: 5px;
    text-align: center;
    border-radius: 6px;
    font-family: 'Baloo Bhai 2', cursive;
}

.container button {
    width: 310px;
    height: 30px;
}